body{
	background-color: #b7b795;
	margin: 0px;
	padding: 0px;
}
#menu h1{
	text-align: center;
	margin: 10px;
	background-color: #fde972;
	font-family: "Times New Roman", Times, serif;
}
#boxes{
	width: 100%;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}
#boxes .box1{
	overflow: hidden; 
	float:left;
	text-align:center;
	padding:2px;
	
	margin:20px;
	font-family: "Times New Roman", Times, serif;
	padding-top: 2px;
	border:1px solid black;
	box-sizing: border-box;
}
#boxes .box2{
	overflow: hidden; 
	float:left;
	text-align:center;
	padding:2px;
	
	margin:20px;
	font-family: "Times New Roman", Times, serif;
	padding-top: 2px;
	border:1px solid black;
	box-sizing: border-box;
}
#boxes .box3{
	overflow: hidden; 
	float:left;
	text-align:center;
	padding:2px;
	
	margin:20px;
	font-family: "Times New Roman", Times, serif;
	padding-top: 2px;
	border:1px solid black;
	box-sizing: border-box;
}
.container{
	margin-right: 0px;
	margin:0px;
	width:100%;
	overflow:hidden;
	background-color: #b8b894;
}
h3{
	text-align: right;
	padding-right: 10%;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fde972;
	margin-left: 65%;
	border:1px solid black;

}
.box1:hover{
	transition:.75s;
	transform:scale(1.0);
	box-shadow:2px 3px 5px #888888;
}
.box2:hover{
	transition:.75s;
	transform:scale(1.0);
	box-shadow:2px 3px 5px #888888;
}
.box3:hover{
	transition:.75s;
	transform:scale(1.0);
	box-shadow:2px 3px 5px #888888;
}
section{
	padding: 0px;
	margin: 0px;
}
.tag1{
	background-color: #c2d6d6;
	float: left;
	padding: 3px;
    padding-top: 0px;
     
}
.tag2{
	background-color: #ffccb3;
	float: left;
	padding: 3px;
    padding-top: 0px;
    font:15px Trebuchet MS; 
}
.tag3{
	float: left;
	background-color: #99ff99;
	padding: 3px;
    padding-top: 0px;
    font: 15px Arial, sans-serif;
}
p{
	margin-top: 5px;
	margin-bottom: 5px;
}
@media (min-width: 992px) {
	.col-lg-4{
		width: 29%;
		box-sizing: border-box;
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width: 43%;
		box-sizing: border-box;
		float: left;
	}
	.col-md-12{
		width: 90%;
		box-sizing: border-box;
		float: left;
	}
}